<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.tmgp.jjzww">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="com.tencent.tmgp.jjzww.base.MyApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/app_jj_icon_tencent"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity
            android:name="com.tencent.tmgp.jjzww.activity.home.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <!--
        <activity
            android:name="com.videogo.main.EzvizWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        -->
        <!--=============================友盟相关=============================================-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a547230b27b0a6a19000132" />
        <!-- Umeng 街机抓娃娃   5a547230b27b0a6a19000132-->
        <!-- 打包value区分 360  tencent alibaba vivo  oppo  huawei  等各个渠道  Umeng   -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="tencent"></meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="d318f4fe099226d45d73978c710c1bb4">
        </meta-data>

        <!--=============================友盟相关=============================================-->
        <activity
            android:name="com.tencent.tmgp.jjzww.activity.ctrl.view.CtrlActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:resizeableActivity ="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.tmgp.jjzww.activity.home.InformationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.tmgp.jjzww.activity.home.SettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.tmgp.jjzww.activity.home.GameCurrencyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.tmgp.jjzww.activity.home.RecordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.tmgp.jjzww.activity.home.FeedBackActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.tmgp.jjzww.activity.home.LnvitationCodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.tmgp.jjzww.activity.home.AboutUsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.tmgp.jjzww.activity.home.ChangNicknameAvtivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.tmgp.jjzww.activity.home.TakePhotoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/activitystyle" />
        <activity
            android:name="com.tencent.tmgp.jjzww.activity.wechat.WeChatPayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service
            android:name="com.tencent.tmgp.jjzww.service.SmartRemoteService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.tencent.tmgp.jjzww.activity.home.RecordGameActivty"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.tmgp.jjzww.activity.home.RecordGameTwoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.tmgp.jjzww.activity.home.ConsignmentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.tmgp.jjzww.activity.home.NewAddressActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.tencent.tmgp.jjzww.activity.home.CtrlTextActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity android:name="com.tencent.tmgp.jjzww.activity.home.SelectRechargeTypeActiivty"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name="com.tencent.tmgp.jjzww.activity.home.VideoPlayBackActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".activity.home.BetRecordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <!-- ###############    微信回调类    #############  -->
        <!-- ###############    微信回调类    #############  -->

        <activity android:name=".activity.home.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/jjLoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--米大师支付接入需要-->

        <!-- TODO GAME SDK Midas接入配置 设置屏幕兼容声明 END -->

        <!-- TODO SDK接入 QQ接入配置 START -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1106514672" />
                <!--tencent游戏的手Q appid-->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- TODO SDK接入 QQ接入配置 END -->


        <!-- TODO SDK接入 微信接入配置 START -->
        <!-- 注意：此处应改为 游戏包名.wxapi.WXEntryActivity -->
        <activity
            android:name="com.tencent.tmgp.jjzww.wxapi.WXEntryActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="WXEntryActivity"
            android:launchMode="singleTop"
            android:taskAffinity="com.tencent.tmgp.jjzww.diff">
            <intent-filter>        <!-- 注意：此处应改为 游戏包名.diff -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- 注意：此处应改为 游戏的微信appid -->
                <data android:scheme="wxe7e60e79f7e7a25e" />
            </intent-filter>
        </activity>
        <!-- TODO SDK接入 微信接入配置 END -->

        <!-- TODO GAME SDK接入YSDK实名制接入配置 START -->
        <activity
            android:name="com.tencent.ysdk.module.realName.impl.RegisterRealNameActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <!-- TODO GAME SDK接入YSDK实名制接入配置 END -->


        <!--米大师支付接入配置组件——Start-->
        <!-- TODO GAME SDK Midas接入配置 START -->
        <activity
            android:name="com.tencent.midas.proxyactivity.APMidasPayProxyActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tencent.midas.wx.APMidasWXPayActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true" />

        <activity
            android:name="com.tencent.midas.qq.APMidasQQWalletActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="qwallet100703379"/>
                <!-- TODO GAME 这里为米大师的默认配置，游戏不要修改 -->
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.midas.jsbridge.APWebJSBridgeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <!-- TODO GAME SDK Midas接入配置 END -->
        <!--米大师支付接入配置组件——End-->

        <receiver android:name="com.flamigo.jsdk.FlamigoReceiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!--配置hx_ysdk组件——Start-->
        <activity android:name="com.robust.sdk.ui.CommonActivity"
            android:configChanges="orientation|keyboardHidden|navigation" />

        <meta-data
            android:name="MANIFEST_META_CHID"
            android:value="tencent" />

        <meta-data
            android:name="MANIFEST_META_CID"
            android:value="6f456783a0fe44e28771c08ab63a52f7" />
        <!-- 正式环境cid= 6f456783a0fe44e28771c08ab63a52f7-->
        <!-- 测试环境cid= d701017f820d4c94aee7d3bd3ca96edb-->
        <!--配置hx_ysdk组件——End-->

        <activity
            android:name=".activity.home.ServiceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".activity.home.MyCtachRecordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity
            android:name=".activity.home.NewsWebActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity android:name=".activity.home.MyLogisticsOrderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <!-- ###################添加UmengAppkey ###################### -->


    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />



</manifest>